# Data manipulation for visualisation 2

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/jldbc/coffee-quality-database/master/data/arabica_data_cleaned.csv"

In [3]:
ratingsDF = pd.read_csv(url)

In [4]:
ratingsDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1311 entries, 0 to 1310
Data columns (total 44 columns):
Unnamed: 0               1311 non-null int64
Species                  1311 non-null object
Owner                    1304 non-null object
Country.of.Origin        1310 non-null object
Farm.Name                955 non-null object
Lot.Number               270 non-null object
Mill                     1001 non-null object
ICO.Number               1165 non-null object
Company                  1102 non-null object
Altitude                 1088 non-null object
Region                   1254 non-null object
Producer                 1081 non-null object
Number.of.Bags           1311 non-null int64
Bag.Weight               1311 non-null object
In.Country.Partner       1311 non-null object
Harvest.Year             1264 non-null object
Grading.Date             1311 non-null object
Owner.1                  1304 non-null object
Variety                  1110 non-null object
Processing.Method        1159 non-null object
Aroma                    1311 non-null float64
Flavor                   1311 non-null float64
Aftertaste               1311 non-null float64
Acidity                  1311 non-null float64
Body                     1311 non-null float64
Balance                  1311 non-null float64
Uniformity               1311 non-null float64
Clean.Cup                1311 non-null float64
Sweetness                1311 non-null float64
Cupper.Points            1311 non-null float64
Total.Cup.Points         1311 non-null float64
Moisture                 1311 non-null float64
Category.One.Defects     1311 non-null int64
Quakers                  1310 non-null float64
Color                    1095 non-null object
Category.Two.Defects     1311 non-null int64
Expiration               1311 non-null object
Certification.Body       1311 non-null object
Certification.Address    1311 non-null object
Certification.Contact    1311 non-null object
unit_of_measurement      1311 non-null object
altitude_low_meters      1084 non-null float64
altitude_high_meters     1084 non-null float64
altitude_mean_meters     1084 non-null float64
dtypes: float64(16), int64(4), object(24)
memory usage: 450.7+ KB

In [5]:
#TASK 1 & TASK 2
ratingsDF = ratingsDF.rename(
    columns={
        "Country.of.Origin":"Country",
        "Grading.Date":"GradingDate"
            }
)

In [6]:
#Before
ratingsDF['GradingDate']

0            April 4th, 2015
1            April 4th, 2015
2             May 31st, 2010
3           March 26th, 2015
4            April 4th, 2015
5        September 3rd, 2013
6       September 17th, 2012
7        September 2nd, 2010
8        September 2nd, 2010
9           March 30th, 2015
10          March 27th, 2015
11          March 13th, 2015
12          March 13th, 2015
13            May 31st, 2010
14         August 31st, 2010
15          March 13th, 2015
16            May 31st, 2010
17           June 16th, 2010
18           April 7th, 2016
19          March 25th, 2015
20          March 13th, 2015
21           April 2nd, 2014
22           July 26th, 2012
23          March 13th, 2015
24       September 3rd, 2013
25        December 3rd, 2011
26           June 16th, 2010
27           June 26th, 2014
28            May 18th, 2017
29            May 18th, 2016
                ...
1281    September 13th, 2012
1282        August 1st, 2012
1283       January 9th, 2012
1284       January 5th, 2012
1285        March 29th, 2013
1286        March 13th, 2014
1287          June 6th, 2013
1288    September 10th, 2012
1289    September 17th, 2012
1290        August 1st, 2012
1291         April 6th, 2012
1292     December 28th, 2015
1293        April 26th, 2014
1294           May 8th, 2014
1295         March 3rd, 2014
1296        March 10th, 2014
1297       August 23rd, 2011
1298      February 3rd, 2015
1299    September 10th, 2012
1300         July 11th, 2012
1301           May 5th, 2014
1302      October 27th, 2017
1303          May 15th, 2014
1304          May 15th, 2014
1305          May 15th, 2014
1306    September 17th, 2012
1307          May 24th, 2012
1308          June 6th, 2017
1309          May 24th, 2012
1310        April 28th, 2017
Name: GradingDate, Length: 1311, dtype: object

In [7]:
#TASK 3
import re
def date_format(s):                                             
    return re.sub("(st|nd|rd|th),", "", s)

for index in range(ratingsDF.shape[0]):
        ratingsDF.loc[index, 'GradingDate'] = date_format(ratingsDF.loc[index, 'GradingDate']) #April 4th, 2015 to April 4 2015

In [8]:
#After
ratingsDF['GradingDate']

0            April 4 2015
1            April 4 2015
2             May 31 2010
3           March 26 2015
4            April 4 2015
5        September 3 2013
6       September 17 2012
7        September 2 2010
8        September 2 2010
9           March 30 2015
10          March 27 2015
11          March 13 2015
12          March 13 2015
13            May 31 2010
14         August 31 2010
15          March 13 2015
16            May 31 2010
17           June 16 2010
18           April 7 2016
19          March 25 2015
20          March 13 2015
21           April 2 2014
22           July 26 2012
23          March 13 2015
24       September 3 2013
25        December 3 2011
26           June 16 2010
27           June 26 2014
28            May 18 2017
29            May 18 2016
              ...
1281    September 13 2012
1282        August 1 2012
1283       January 9 2012
1284       January 5 2012
1285        March 29 2013
1286        March 13 2014
1287          June 6 2013
1288    September 10 2012
1289    September 17 2012
1290        August 1 2012
1291         April 6 2012
1292     December 28 2015
1293        April 26 2014
1294           May 8 2014
1295         March 3 2014
1296        March 10 2014
1297       August 23 2011
1298      February 3 2015
1299    September 10 2012
1300         July 11 2012
1301           May 5 2014
1302      October 27 2017
1303          May 15 2014
1304          May 15 2014
1305          May 15 2014
1306    September 17 2012
1307          May 24 2012
1308          June 6 2017
1309          May 24 2012
1310        April 28 2017
Name: GradingDate, Length: 1311, dtype: object

In [9]:
#Now save the processed dataset in a CSV file
ratingsDF.to_csv("arabica_data_cleaned_for_visualisation2.csv")