# Data manipulation for visualisation 1

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/jldbc/coffee-quality-database/master/data/arabica_data_cleaned.csv"

In [3]:
ratingsDF = pd.read_csv(url)

In [4]:
ratingsDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1311 entries, 0 to 1310
Data columns (total 44 columns):
Unnamed: 0               1311 non-null int64
Species                  1311 non-null object
Owner                    1304 non-null object
Country.of.Origin        1310 non-null object
Farm.Name                955 non-null object
Lot.Number               270 non-null object
Mill                     1001 non-null object
ICO.Number               1165 non-null object
Company                  1102 non-null object
Altitude                 1088 non-null object
Region                   1254 non-null object
Producer                 1081 non-null object
Number.of.Bags           1311 non-null int64
Bag.Weight               1311 non-null object
In.Country.Partner       1311 non-null object
Harvest.Year             1264 non-null object
Grading.Date             1311 non-null object
Owner.1                  1304 non-null object
Variety                  1110 non-null object
Processing.Method        1159 non-null object
Aroma                    1311 non-null float64
Flavor                   1311 non-null float64
Aftertaste               1311 non-null float64
Acidity                  1311 non-null float64
Body                     1311 non-null float64
Balance                  1311 non-null float64
Uniformity               1311 non-null float64
Clean.Cup                1311 non-null float64
Sweetness                1311 non-null float64
Cupper.Points            1311 non-null float64
Total.Cup.Points         1311 non-null float64
Moisture                 1311 non-null float64
Category.One.Defects     1311 non-null int64
Quakers                  1310 non-null float64
Color                    1095 non-null object
Category.Two.Defects     1311 non-null int64
Expiration               1311 non-null object
Certification.Body       1311 non-null object
Certification.Address    1311 non-null object
Certification.Contact    1311 non-null object
unit_of_measurement      1311 non-null object
altitude_low_meters      1084 non-null float64
altitude_high_meters     1084 non-null float64
altitude_mean_meters     1084 non-null float64
dtypes: float64(16), int64(4), object(24)
memory usage: 450.7+ KB

In [5]:
#TASK 1
ratingsDF = ratingsDF.rename(
    columns={
        'Country.of.Origin':'Country',
            }
)

In [6]:
#TASK 2 Analysis

In [7]:
ratingsDF['Country'].value_counts()

Mexico                          236
Colombia                        183
Guatemala                       181
Brazil                          132
Taiwan                           75
United States (Hawaii)           73
Honduras                         53
Costa Rica                       51
Ethiopia                         44
Tanzania, United Republic Of     40
Thailand                         32
Uganda                           26
Nicaragua                        26
Kenya                            25
El Salvador                      21
Indonesia                        20
China                            16
Malawi                           11
Peru                             10
Myanmar                           8
United States                     8
Vietnam                           7
Haiti                             6
Philippines                       5
United States (Puerto Rico)       4
Panama                            4
Laos                              3
Burundi                           2
Mauritius                         1
Rwanda                            1
Zambia                            1
Ecuador                           1
India                             1
Papua New Guinea                  1
Japan                             1
Cote d?Ivoire                     1
Name: Country, dtype: int64

In [8]:
#TASK 2 & TASK 3

def isNaN(value):
    return value != value

country_frequency_series = ratingsDF['Country'].value_counts()
for index, row in ratingsDF.iterrows():
        country = row['Country']
        if not(isNaN(row['Country'])):
            count_of_this_country = country_frequency_series[country]
            if count_of_this_country<20:
                ratingsDF.drop(index, inplace=True)
        else:
            ratingsDF.drop(index, inplace=True) #Drop items that do not have value for Country (Task 3)

In [9]:
ratingsDF.shape

(1218, 44)

In [10]:
ratingsDF['Country'].value_counts()

Mexico                          236
Colombia                        183
Guatemala                       181
Brazil                          132
Taiwan                           75
United States (Hawaii)           73
Honduras                         53
Costa Rica                       51
Ethiopia                         44
Tanzania, United Republic Of     40
Thailand                         32
Nicaragua                        26
Uganda                           26
Kenya                            25
El Salvador                      21
Indonesia                        20
Name: Country, dtype: int64

In [1]:
#TASK 4

In [12]:
ratingsDF['Country'].value_counts()

Mexico                          236
Colombia                        183
Guatemala                       181
Brazil                          132
Taiwan                           75
United States (Hawaii)           73
Honduras                         53
Costa Rica                       51
Ethiopia                         44
Tanzania, United Republic Of     40
Thailand                         32
Nicaragua                        26
Uganda                           26
Kenya                            25
El Salvador                      21
Indonesia                        20
Name: Country, dtype: int64

In [13]:
ratingsDF.replace("Tanzania, United Republic Of", "Tanzania",inplace = True)

In [14]:
ratingsDF['Country'].value_counts()

Mexico                    236
Colombia                  183
Guatemala                 181
Brazil                    132
Taiwan                     75
United States (Hawaii)     73
Honduras                   53
Costa Rica                 51
Ethiopia                   44
Tanzania                   40
Thailand                   32
Nicaragua                  26
Uganda                     26
Kenya                      25
El Salvador                21
Indonesia                  20
Name: Country, dtype: int64

In [15]:
#Now save the processed dataset in a CSV file
ratingsDF.to_csv("arabica_data_cleaned_for_visualisation1.csv")